// 主页面 侧边栏
$base_slider_width: 300px;
$base_slider_collapse_width: 64px;
$base_slider_background_color: #001529;

// 主页面 侧边栏 logo组件
$base_slider_logo_height: 50px;
$base_slider_logo_font_size: 24px;

// 主页面 头部工具栏
$base_tabbar_height: 60px;
$base_tabbar_background_color: #fefefe;

// 自定义分页器组件 Pagination
$pagination_height: 42px;